
<launch>
  <!--建图算法-->
  <arg name="camera_mode"  default="AstraS" doc="opt:AstraS,Astrapro,Gemini"/>

  <!-- 开启机器人底层相关节点  -->
  <include file="$(find turn_on_wheeltec_robot)/launch/turn_on_wheeltec_robot.launch">
    <arg name="is_cartographer" value="true"/>
  </include>


  <group if="$(eval camera_mode == 'AstraS')">
    <include file="$(find astra_camera)/launch/astra.launch" />
    <include file="$(find orb_slam2_ros)/ros/launch/orb_slam2_Astra_rgbd.launch" />
  </group>


  <group if="$(eval camera_mode == 'Astrapro')">
    <include file="$(find astra_camera)/launch/astrapro.launch" />
    <include file="$(find orb_slam2_ros)/ros/launch/orb_slam2_Astrapro_rgbd.launch" />
  </group>


  <group if="$(eval camera_mode == 'Gemini')">
     <include file="$(find astra_camera)/launch/gemini.launch" />
    <include file="$(find orb_slam2_ros)/ros/launch/orb_slam2_Astra_gemini_rgbd.launch" />
  </group>

</launch>
